body{
    background-color: #f5f5f5 !important;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.colorCabecalho{
  background-color: #d61713 !important;

}

.nav-link, .navbar-brand{
  color: #fff !important;
}

.navbar-brand{
  cursor: default;
}


.divrodape{
  background-color: #f5f5f5;
}






.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .cardImage {
    border-radius: 5px 5px 0 0;
    width: 80%;
   
  }


  .card-container {
      box-shadow: #0000;
      padding-top: 25px;
      
  }

 



 
  .text-center{
    text-align: center !important;
  }

  .logoCenter{
    text-align: center !important;
    margin-bottom: 7px;
  }

 

/*media queries*/

@media(max-width: 340px){
  .logoBreis{
    width: 22%;
    
  }
 

  .moveBrand{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }
  
  .contatosLogo{
    width: 25%;
    margin-left: 10px;
  }

  .pudimWidth{
    width: 57%;
  }

}


@media (min-width: 360px) 
{
  .logoBreis{
    width: 25%;
    
  }
 

  .moveBrand{
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }
  .contatosLogo{
    width: 25%;
    margin-left: 10px;
  }

  .pudimWidth{
    width: 57%;
  }
}


@media (min-width: 980px) 
{
  .logoBreis{
    width: 7%;
    margin-left: 10px;
  }


  .moveBrand{
    margin-left: 30%;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    
  }

  .contatosLogo{
    width: 10%;
    margin-left: 10px;
    
  }

  .pudimWidth{
    width: 20%;
  }

 
}
